<footer class="footer bg-dark text-white py-4">
  <div class="container text-center">
    <div class="mb-3">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a href="#" class="text-white me-3">
            <i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="text-white me-3">
            <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <!-- <li class="list-inline-item">
          <a href="#" class="text-white me-3">
            <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
          </a>
        </li> -->
        <li class="list-inline-item">
          <a href="#" class="text-white">
            <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <p class="mb-0">&copy; {{year}} Made by SV | All Rights Reserved.</p>
  </div>
</footer>