.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .active {
    color: darkslategrey;
    font-weight: 600;
  }

  .navbar-brand {
    /* color: darkslategrey; */
    font-weight: bold;
  }
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }