<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/all-events">
      <i class="fa fa-calendar-check-o me-2"></i> <span class="fw-bold">Evvento</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/all-events"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-list-ul me-2"></i>Event List
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/my-events"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-heart me-2"></i>My Events
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light"
            routerLink="/register-event"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-pencil-square-o me-2"></i>Register Event
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a
            class="nav-link text-light"
            routerLink="/profile"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-user-circle me-2"></i>My Profile
          </a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn">
          <a
            class="nav-link text-light"
            routerLink="/login"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-sign-in me-2"></i>Login
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a
            class="nav-link text-light"
            [ngStyle]="{ cursor: 'pointer' }"
            (click)="logout()"
          >
            <i class="fa fa-sign-out me-2"></i>Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
