.home-container {
  font-family: 'Ubuntu', serif;
}

.hero-section {
  position: relative;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.hero-section .btn {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease;
}

.hero-section .btn:hover {
  background-color: #0056b3;
}

.cta-section {
  background-color: #343a40;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.brand{
  font-family: 'Pacifico', cursive;
}
