.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.form-group {
    margin-bottom: 1.5rem;
}
.card-header, .card-footer {
    background-color: #f8f9fa;
}
input.ng-invalid.ng-touched{
    border: red 2px solid;
}
  
small{
    color: red;
    font-weight: bold;
}

.form-shadow{
    box-shadow: rgba(187, 185, 185, 0.35) 0px 5px 15px;
  }
  