.list-group-item {
    border: none;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  
 
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1040; 
}


.modal-dialog {
  z-index: 1050; 
}


  