@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Wrapper for Full-Page Layouts */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Footer Styling
footer {
    background-color: #f5f5f5;
    color: black;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .social-icon {
    padding: 0;
    list-style-type: none;
    margin-bottom: 15px;
}

footer .social-icon__item {
    display: inline-block;
    margin-right: 15px;
}

footer .social-icon__item:last-child {
    margin-right: 0;
}

footer .social-icon__link {
    color: slategray;
    font-size: 24px;
}

footer .social-icon__link:hover {
    color: #303030;
}

footer p {
    margin: 0;
    font-size: 14px;
} */
.expired {
    opacity: 0.6;
    pointer-events: none;
    background-color: #f0f0f0;
  }
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #dedede;
}

::-webkit-scrollbar-thumb {
    background-color: #28282B;
}
